<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mbti</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="intro-container">
        <h1 class="titles">나의
            <div class="title-container">
                <div class="title-text">댕BTI</div>
            </div>는?
        </h1>
        <div class="plz-down">
            <div class="plz-down-text">스크롤을 내려주세요!</div>
        </div>
        <div class="button-container">
            <button type="button" class="intro-button" onclick="location.href='/question'">
                <img src="images/heartdog.png" class="button-image" alt="">
                <div class="intro-button-text">시작</div>
            </button>
        </div>
        <div id="scroll-top">
            <img src="images/upload.png" alt="" class="scroll-image">
        </div>
    </div>
</body>
</html>