<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mbti</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="intro-container">
        <h1 class="titles">
            <div class="title-container">
                <div class="title-text">나의 <span class="title-text-span">댕BTI</span>는?</div>
            </div>
        </h1>
    <div class="button-container">
        <button type="button" class="intro-button" onclick="location.href='/question'">
            <img src="images/heartdog.png" class="button-img" alt="">
            <div class="intro-button-text">시작</div>
        </button>
    </div>
    </div>
</body>
</html>